{% extends "base.html.twig" %}

{% block body %} 
  <body class="bodyDescri">
    <header class="headerDescri">
    <h2 class="h2Descri">{{ Titre }}</h2>
    </header>
    <section class="contenu">
      <article class="article">
          <img class="imgDescri" src="{{asset("CarteStyle.png")}}" alt="Porsche">
          <h3>Saubin Titouan:</h3>
          <p>Je suis un jeune étudiant venant de sa campagne, ce que j'aime, c'est simple:</p>
          <ul>
            <li>J'apprécie être entouré de ma famille et faire des activités ensemble.</li>
            <li>Lorsque je ne suis pas avec ma famille je passe la plupart du temps avec mes amis à faire des choses de droite à gauche ou bien à jouer en ligne avec eux</li>
          </ul>
      </article>
      <article class="article">
          <img class="imgDescri" src="{{asset("911ia.jpg")}}" alt="Porsche">
          <h4>Mes passions sont divers et variés</h4>
          <p>J'ai une passion assez commune avec les véhicules de sports, ce serait pour moi un rêve de d'avoir les moyens de m'en procurer une de mon choix par le fruit de mon unique travail. Cela peut paraitre futiles mais c'est une passion comme les autres et je serais fier de pouvoir partagé ce véhicules et la passion avec mon père.</p>
      </article>
      <article class="article">
          <img class="imgDescri" src="{{asset("Nature.jpg")}}" alt="Nature">
          <h4>J'adore passé du temps en extérieur</h4>
          <p>
            J'aime énormément passé du temps en extérieur et dans les millieu aquatique.<br>
            Je passe la pluspart de mon temps en forêt avec mes amis en été, j'apprécie explorer et passé du bon temps en bonne companie.<br>
          </p>
      </article>
      <article class="article">
        <img class="imgDescri" src="{{asset("ski.jpg")}}" alt="Nature">
        <h4>Ma saison préféré étant l'hiver</h4>
        <p>
          Je suis donc un très grand ammateur des sports d'hiver et particulièrement du ski qui est un moyen pour moi de m'échapper et de souvent prendre du bon temps durant cette saison.<br>
          J'apprécie énormément l'ambiance de l'hiver sans pour autant détester l'été car on peut sortir et profiter du soleil, mais l'hiver et les périodes de faites me réjouiront toujours.
          </p>
      </article>
      <article class="article">
        <img class="imgDescri" src="{{asset("animaux.jpg")}}" alt="Nature">
        <h4>Les animaux dans ma vie</h4>
        <p>
          J'ai grandi avec les animaux et j'ai toujours apprécié leur companie.<br>
          Je me suis toujours intéressé aux animaux à savoir que travaillé dans le domaine animalier à toujours été pour moi un plan d'avenir secondaire.<br>
          Malgré ce projet secondaire je reste convaincu de mon avnir dans le domaine des réseaux et télécommunications qui me passionnes.
        </p>
      </article>
    </section>

    <p class="texte-blanc">
			AA<br>
			AA<br>
		</p>
  </body>

{% endblock %}